body {
    background-image: url('images/homepage.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    color: red;
}

.project-name {
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}

.container {
    margin: 50px auto;
    width: 70%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.error-message {
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    font-size: 18px;
    color: white;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}

.contact-form button.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button.submit-button:hover {
    background-color: #45a049;
}
